appsolicitacaomanutencao/__pycache__/*
/apps/usuario/__pycache__/
/apps/usuario/migrations/
/apps/solicitacao/__pycache__/*
/apps/solicitacao/migrations/*
/apps/itemsolicitacao/__pycache__/*
/apps/itemsolicitacao/migrations/*
/apps/chamadomanutencao/__pycache__/*
/apps/chamadomanutencao/migrations/*
/apps/historicoatividade/__pycache__/*
/apps/historicoatividade/migrations/*
/apps/avaliacao/__pycache__/*
/apps/avaliacao/migrations/*
/apps/tecnico/__pycache__/*
/apps/tecnico/migrations/*
/apps/local/__pycache__/*
/apps/local/migrations/*
/apps/atribuicaochamado/__pycache__/*
/apps/atribuicaochamado/migrations/*

